<h1>Products Index</h1>
<%= link_to "Add new product!", "/products/new" %>

<% @products.each do |product| %>
  <ul>
    <li><img src="https://picsum.photos/200/200/?random" alt=""></li>
    <li><%= link_to "#{product.name}", "/products/#{product.id}" %>: <%= product.price_in_dollars %></li>
    <li><%= product.description %></li>
  </ul>
<% end %>
